body {
    font-family: 'Roboto', sans-serif;
    color: rgba(3,27,78,.7);
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

h2 {
    font-weight: 700;
}

.ms-dark-text {
    color: #031b4e;
}

.ms--light-text {
    color: #fff;
}

a {
    color: #0069ff;
    font-weight: 500;
    font-size: 16px;
}

/* NAVBAR */
.navbar {
    min-height: 63px;
}

.navbar-default {
    background-color: #fff;
    margin-bottom: 0;
    border-bottom: 0;
}

.navbar-brand {
    height: 63px;
}

.navbar-brand svg {
    fill: #0069ff;
}

.navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #0069ff;
}

.navbar-default .navbar-nav > li > a {
    color: #031b4e;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}

.ms--icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.ms--submenu-arrow::after {
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    content: "\f078";
}

.navbar-nav.navbar-right > li > a {
    color: #0069ff;
    font-weight: 700;
    font-size: 17px;
    border: 1px solid #0069ff;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5px;
    margin: 11.5px 0;
}

.navbar-nav.navbar-right > li > a:hover {
    color: #fff;
    background-color: #0069ff;
}


/* HEADER */
header {
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-position: center;
    padding: 90px 0 70px;
}

header .ms--light-text p {
    font-size: 24px;
    opacity: .8;
}

.ms--col-h1 { /* media query desktop */
    top: 100px;
}

.ms--box-h1,
.ms--box-form {
    padding: 25px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

label {
    display: none;
}

.form-control {
    height: 48px;
}

.ms--divider-box {
    margin: 16px 0;
}

.ms--divider {
    border-top: 1px solid #e5e8ed;
    width: 100%;
    margin: 10px 0;
}

.ms--ToS {
    margin-top: 30px;
}

.ms--ToS p {
    margin-bottom: 0;
}

/* CUSTOMERS LOGOS */
#customers-logos {
    background-color: #f3f5f9;
    padding: 64px 0;
}

#customers-logos h2 {
    font-size: 15px;
    opacity: 0.5;
}

.customers-logos > div:not(:last-child) > img {
    height: 77px;
}

.splunk {
    height: 37px;
    margin: 20px 0;
}

/* ---- */
